<div th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <svg xmlns="http://www.w3.org/2000/svg" width="0" height="1" class="member-name-link" viewBox="0 0 118 94" role="img">
                <title>любовь и чай</title>
                <Img src="https://i.postimg.cc/4N3j1c73/Lmb2-DPFDzsc.jpg" Width="70" Height="70" style="left: auto">
            </svg>
            <span class="fs-4" style="margin-left:25px"><b>любовь и чай</b></span>
        </a>
        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 text-dark text-decoration-none" href="/">Главная</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/blog">Блог</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/blog/add">Добавить статью</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/order/add">Добавить заказ</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/about">Про нас</a>
        </nav>
    </div>
</div>